/* 320px for mobile */
h1,
h2,
h3,
p {
    font-family: Roboto;
}
ul {
    list-style-type: none;
}
h1 {
    color: antiquewhite;
    background-color: rgb(26, 62, 78);
    margin: 0px;
    padding: 24px;
    text-align: center;
   }
body {
  margin: 0px;
}
.bbox {
  border-bottom: solid rgb(26, 62, 78) 5px;
  margin-bottom: 5px; 
  padding-bottom: 30px;
}
.bbox-2 {
  border-top: solid rgb(26, 62, 78) 2px;
  padding-top: 30px;
}
aside {
  border-bottom: solid rgb(26, 62, 78) 2px;
  margin:0 15px 0;
}
form {
    margin: 0px 10px 0px;
}
.contact_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    padding: 0;
    margin: 0px;
}
::placeholder {
    text-align: right;
}

#name,
#email,
#phone-number,
#city,
#state,
#zip-code {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    width: 90vw;

}
#zip-code {
    width: 125px;
    margin-right: 150px;
    
}

.nl {
 padding: 0;
}
.nlf {
  padding: 0;
}
h2,
p {
  text-align: center;
}
.words {
    text-align: left;
}

.rad {
  padding: 5px;
    
}
#other_topic {
  width: 90vw;
  height: 100px;
  margin-bottom: 25px;
}
#button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
    background-color: rgb(26, 62, 78);
    color: antiquewhite;
    border-radius: 1em;
    height: 75px;
    width: 92vw;
  
}
@media (min-width: 768px) {

 #name,
#email,
#phone-number,
#city,
#state,
#zip-code,
#other_topic,
#button,
.bbox,
.bbox-2,
aside,
ul {
   width: 650px;

}

#zip-code {
    width: 125px;
    margin-left: auto;
    margin-right: 345px;

}
aside,
.bbox-2 {
    margin-left: auto;
    margin-right: auto;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.li-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
#web{
  
}
#name,
#email,
#phone-number,
#city,
#state {
  width: 35em;
  margin-left: auto;
  margin-right: 0;
}

}